---
import Container from "./Container.astro"

const testimonials = [
  {
    name: "Rich Cabrera",
    role: "Founder",
    company: "ReadyPlayerDAO",
    image: "./images/avatars/avatar.webp",
    content: "EstablishCred was very responsive and incredibly helpful throughout the entire process of my interview with the Forbes editor. Through setup, timing, explanation, and execution, as well as keeping me informed, I couldn't recommend them more!"
  },
  {
    name: "Pamela Richter",
    role: "Co founder / CRO",
    company: "B2Chat",
    image: "./images/avatars/avatar.webp",
    content: "It was great working with EstablishCred. They were clear with the proposal from the beginning and delivered as promised. They have a lot of knowledge in establishing credibility for companies using various strategies. I will continue working with them and recommending them."
  },
  {
    name: "Bryan Plaster",
    role: "CEO and Co-founder",
    company: "Intelligage",
    image: "./images/avatars/avatar.webp",
    content: "EstablishCred is awesome to work with. They under promise and over-deliver exactly what they say they will do. They have deep knowledge of establishing credibility with companies, and I plan to continue working with them and recommending them to everyone I know!"
  },
  {
    name: "Jason Crystal",
    role: "CEO",
    company: "MiVenture",
    image: "./images/avatars/avatar.webp",
    content: "EstablishCred helped us get the word out about major milestones, like product launches and our acquisition. They're easy to work with and understand the constraints companies have especially startups. Very professional and transparent. If you need PR, talk to EstablishCred!"
  },
  {
    name: "David Kamara",
    role: "Founder",
    company: "Cape Sierra Capital",
    image: "./images/avatars/avatar.webp",
    content: "EstablishCred's team brings creative thinking, marketing prowess, and a can-do attitude to small and medium enterprises. They are extremely knowledgeable and great to work with. I highly recommend them to anyone seeking to improve their online digital brand."
  },
  {
    name: "Julian Pscheid",
    role: "Co-Founder",
    company: "EMERGE",
    image: "./images/avatars/avatar.webp",
    content: "EstablishCred is great to work with. They are very diligent and reliable, always responsive to any questions I have. They delivered as promised every step along the way. I can definitely recommend them to anyone looking for guidance in online brand building."
  },
  // {
  //   name: "Jacqueline Hudson Parsons",
  //   role: "Founder",
  //   company: "Liquid Beauty AI",
  //   image: "./images/avatars/avatar.webp",
  //   content: "EstablishCred is one of the most talented professionals I have met in the marketing social media platforms. They deliver as promised, with excellent high-quality results. I have never been disappointed in their performance; they rock every campaign they achieve for our corporation. I would highly recommend them as a proven talent and consultant."
  // },
  // {
  //   name: "Heather LeBas",
  //   role: "Founder",
  //   company: "LeBas Art",
  //   image: "./images/avatars/avatar.webp",
  //   content: "EstablishCred did an excellent job getting our technical start-up exposure at reputable publications. I was impressed working with them, and seeing their clarity and foresight. They clearly knew what they were doing and were very communicative with us throughout the process. I plan on working with them again on future projects down the road."
  // }
];
---

<div class="relative " id="testimonials">
  <!-- Background Elements -->
  <div class="absolute inset-0 bg-gradient-to-br"></div>
  <div class="absolute left-0 top-1/4 w-1/3 h-1/3 bg-red-100/20 rounded-full mix-blend-multiply blur-3xl"></div>
  <div class="absolute right-0 bottom-1/4 w-1/3 h-1/3 bg-red-100/20 rounded-full mix-blend-multiply blur-3xl"></div>

  <Container>
    <div class="relative">
      <!-- Header Section -->
      <div class="max-w-2xl mx-auto text-center mb-16">
        <div class="inline-flex items-center justify-center p-2 mb-4">
          <!-- <span class="flex items-center justify-center w-12 h-12 rounded-full bg-secondary/10">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-secondary">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 00-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 01-.189-.866c0-.298.059-.605.189-.866zm2.023 6.828a.75.75 0 10-1.06-1.06 3.75 3.75 0 01-5.304 0 .75.75 0 00-1.06 1.06 5.25 5.25 0 007.424 0z" clip-rule="evenodd" />
            </svg>
          </span> -->
        </div>
        <h2 class="text-4xl font-bold text-gray-800 mb-4">
          Words from Our Clients
        </h2>
        <p class="text-lg text-gray-600">
          See how we've helped businesses across the globe transform their operations
        </p>
      </div>

      <!-- Testimonials Grid -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {testimonials.map((item) => (
          <div class="group relative">
            <div class="absolute inset-0 bg-gradient-to-r from-secondary/20 to-transparent opacity-0 group-a:opacity-100 rounded-3xl transition-all duration-300"></div>
            <div class="relative p-8 bg-white rounded-3xl border border-gray-100 shadow-xl shadow-gray-600/10 transition-all duration-300 a:translate-y-[-2px]">
              <!-- Profile Section First -->
              <div class="flex flex-col items-center text-center mb-6">
                <img 
                  class="w-9 h-9 rounded-full mb-4" 
                  src={item.image} 
                  alt={`${item.name}'s avatar`}
                  width="64" 
                  height="64" 
                  loading="lazy"
                />
                <h3 class="font-semibold text-gray-800 text-lg">
                  {item.name}
                </h3>
                <p class="text-secondary font-medium">
                  {item.company}
                </p>
                <p class="text-sm text-gray-500">
                  {item.role}
                </p>
              </div>

              <!-- Review Content -->
              <div class="text-center text-gray-600">
                <p>{item.content}</p>
              </div>
            </div>
          </div>
        ))}
      </div>
    </div>
  </Container>
</div>